*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}

h1{
    text-align: center;
}

p{
    text-align: center;
    justify-content: center;
}

.img{
    width: 35%;
    height: 70%;
    border: 1px solid black;
    margin: auto;
    text-align: center;
}
img{
    width: 100%;
    height: 100%;
}

.logo{
    background-image: url('../img/amantes-animado.png');
    width: 100%;
    height: 30%;
}

